software/flash2/flash2-2.2.00-h45fc8d7_6.tar.bz2
software/flash2/bin/flash2
software/flash2/info/about.json
software/flash2/info/files
software/flash2/info/git
software/flash2/info/hash_input.json
software/flash2/info/index.json
software/flash2/info/paths.json
software/flash2/info/recipe/build.sh
software/flash2/info/recipe/conda_build_config.yaml
software/flash2/info/recipe/meta.yaml
software/flash2/info/recipe/meta.yaml.template
software/flash2/info/test/run_test.sh
old/mappy_test.ipynb
old/pipeline_playground.ipynb
old/pipeline_v2.ipynb
old/pipeline_v3.ipynb
old/read_investigation.md
old/test_splitter.ipynb
old/test.txt
test_mcc_pipeline/
mccnado/src/old/align.rs
mccnado/src/old/viewpoint.rs
mccnado/Cargo.lock
.DS_Store
tests/playground/
tests/test_data_v2/
tests/test_dir
tests/data/dmso_1_10_1.fastq.gz
tests/data/dmso_1_10_2.fastq.gz
